<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/PresentationDigitalDocument">
<head>
  <title>Ceredigion Meadows Group</title>
  <meta name="description" content="Inaugural meeting Thu 25 Apr 2024">
  <meta charset="utf-8">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Ceredigion Meadows Group">
  <meta itemprop="description" content="Inaugural meeting Thu 25 Apr 2024">
  <meta itemprop="image" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1544296678/meadow-42328167155.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NatureWorksGdn">
  <meta name="twitter:title" content="Ceredigion Meadows Group">
  <meta name="twitter:description" content="Inaugural meeting Thu 25 Apr 2024">
  <meta name="twitter:creator" content="@NatureWorksGdn">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1544296678/meadow-42328167155.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Ceredigion Meadows Group">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.natureworks.org.uk/talks/almanac/">
  <meta property="og:image" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1544296678/meadow-42328167155.jpg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="450">
  <meta property="og:description" content="Inaugural meeting Thu 25 Apr 2024">
  <meta property="og:site_name" content="Nature Works">
  <meta property="article:published_time" content="2019-11-04T19:00:00">
  <meta property="article:section" content="Slideshow">
  <meta property="article:tag" content="slideshow">

  <link rel="stylesheet" href="/css/slides.css">
  <link rel="shortcut icon" href="/img/favicon.png">
</head>

<body>
<textarea id="source">

class: center, middle

# Ceredigion Meadows Group

_Inaugural meeting Thu 25 April 2024_

![Meadow on a slope](https://res.cloudinary.com/growdigital/image/upload/w_240/v1544296678/meadow-42328167155.jpg)

Jake Rayson, Biodiversity Assistant<br>
_Ceredigion Local Nature Partnership_

[jake.rayson@ceredigion.gov.uk](mailto:jake.rayson@ceredigion.gov.uk)

---

class: middle

# Outline

1. Introduction
2. Catrin Evans’ report
3. Meeting aims
  1. Name
  2. Structure
  3. Members
  4. Support

???

* Okay to share names & orgs of members within group?
* Acknowledge history & expertise present. See it as a facilitating role.
* Alli ddim siarad Cymraeg yn dda iawn!

---

class: middle, center

# 1. Introduction

_Signs, state of nature, Jake_

---

class: middle

# Signs

1. Point to make ☝️
2. Direct point ☝️☝️
3. Agreement wave 👋
4. T for Technical point 🇹
5. C for Context 🇨
6. Up/Down temperature 🌡️

---

class: middle, center

## “Since the 1930s, over 97%<br>of wildflower meadows<br>have been lost.”<br><br>[Plantlife](https://meadows.plantlife.org.uk/)

---

class: middle, center

# Why?

The answer informs our ambition

---

class: middle

# Jake intro

* Frontend web designer
* Geek 🤓
* Wildlife forest garden designer
* Plant geek 🌿
* Biodiversity Assistant
* Limited time ⏳

---

class: middle

### “the need to establish a mechanism whereby people can access support, advice, resources and sharing of ideas”

#### Ceredigion Meadows Management Scoping Study<br>by [Catrin Evans](https://www.catrinevans.cymru/)


---

class: middle

# 3. Meeting aims

1. Name
2. Structure
3. Members
4. Support

---

class: middle

# 3.1 Name

<span style="font-size:3rem;">Ceredigion Meadows Group?!</span>

---

class: middle

# 3.2 Structure

_Required for bank account & grants_

* [Unincorporated Association](https://www.gov.uk/unincorporated-associations)
  * Chair, Treasurer, Secretary?
* [Charitable Incorporated Organisation](https://en.wikipedia.org/wiki/Charitable_incorporated_organisation) (CIO)
  * Can own land (note [Heritage Fund](https://www.heritagefund.org.uk/funding/what-we-fund))
  * More admin, complexity & cost

---

class: middle

# 3.2 Internal structure

* Ambition & aims
* Guiding principles
* Non-hierarchical
* Anyhone can be member of Steering Group

---

class: middle

# 3.3 Members

* Steering group members 👀
* Meeting frequency
  * General: annual? 6 months?
  * Steering group: ad hoc, quarterly?
* Benefits!
* Membership fee - £10? £15?

---

class: middle

# 3.4 Support

1. [WhatsApp group](https://chat.whatsapp.com/KrHz70qjdAC1Ry4gnNbiuh) - photos
2. Website - Jake
3. Map
4. Newsletter - quarterly?
5. Social media
  1. Facebook (existing)
  2. Instagram?
6. Meetings
7. Initial free consultation
8. Group site visits
9. Equipment hire

---

# Reference

* [Big Meadow Search!](https://www.bigmeadowsearch.co.uk/)
* [Ceredigion Meadow Report](https://grwd.cc/Meadows-Report-en) [yn Cymraeg](https://grwd.cc/Meadows-Report-cy)
* [Carmarthenshire Meadows Group](https://carmarthenshiremeadows.com/)
* [Monmouthshire Meadows Group](https://monmouthshiremeadows.org.uk/)
* [Dolau Dyfi](https://www.pontcymru.org/dolau-dyfi/)
* [PONT Cymru](https://www.pontcymru.org/about/)

---

class: middle

# Members TBC

---


class: middle, center

# The End

![Butterfly on grass](https://res.cloudinary.com/growdigital/image/upload/w_340/v1713970495/butterfly-169-200719.jpg)

[jake.rayson@ceredigion.gov.uk](mailto:jake.rayson@ceredigion.gov.uk)

Mobile: [07966 312 065](tel:+4407966312065)


</textarea>
<script src="/js/remark.js"></script>
<script>
  var slideshow = remark.create({ratio: '16:9'});
</script>
</body>

</html>
