// Shameful CSS
// Clean up your mess

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand:hover {
  opacity: 0.7;
}

.navbar-brand img {
  margin-right: 12px;
}

.navbar-head {
  color: #6d6d6d;
  font-size: 2.5rem;
}

// Hero section

.hero-section h1 {
  line-height: 1;
}

.hero-section p.mb-5 {
  color: #333;
}

// Add white background at smaller sizes
@media (max-width: 992px) {
  .hero-section h1 span,
  .hero-section p span {
    background: rgba(255, 255, 255, 0.7);
  }
}

// Section

.section {
  padding: 2rem 0 0 0 !important;
}

main section form, // specifically for contact page
main .section:last-child {
  padding-bottom: 4rem !important;
}

// Stop images stretching out in content body
.content img {
  max-width: 100%;
}

// Footer stuff

footer .container img:hover {
  opacity: 0.8;
}

footer .section {
  padding-bottom: 2rem !important;
}

footer .text-light a {
  color: #ddd !important;
}

footer .text-light a:hover {
  color: #86c33a!important;
  text-decoration: underline !important;
}


.content a,
.content a:hover,
.content a:focus {
  text-decoration: underline !important;
}

.funded img {
  display: block;
  margin-top: 12px;
  width: 300px;
}

// Form stuff

.newsletter-form__dark {
  background: rgba(180,180,180,0.3);
}

.newsletter-form__dark::placeholder {
  color: #484848;
}

// Remove horrible svg list icon

ul {
  list-style-type: disc !important;
}

.list-styled li::before {
  content: "" !important;
}
.content ul li::before,
.style-circle li::before {
  content: "" !important;
}

.content ul li {
  margin-left: 20px !important;
  padding-left: 0px !important;
}
