// Shameful CSS
// Clean up your mess

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand:hover {
  opacity: 0.7;
}

.navbar-brand img {
  margin-right: 12px;
}

.navbar-head {
  color: #6d6d6d;
  font-size: 2.5rem;
}

// Hero section

.hero-section h1 {
  line-height: 1;
}

.hero-section p.mb-5 {
  color: #333;
}

// Add white background at smaller sizes
@media (max-width: 992px) {
  .hero-section h1 span,
  .hero-section p span {
    background: rgba(255, 255, 255, 0.7);
  }
}

// Section

.section {
  padding: 2rem 0 0 0 !important;
}

main section:last-child {
  padding-bottom: 4rem !important;
}

.content img {
  max-width: 100%;
}
