{{ define "main" }}

{{with site.Params.contact_form_action}}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form class="mb-4" action="https://airform.io/hello@hopegarden.uk" method="post">
          <div class="mb-4">
            <label for="name" class="form-label">{{ i18n "name" }}</label>
            <input type="text" class="form-control rounded" id="name" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">{{ i18n "email" }}</label>
            <input type="email" class="form-control rounded" id="email" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">{{ i18n "subject" }}</label>
            <input type="text" class="form-control rounded" id="subject" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">{{ i18n "message"}}</label>
            <textarea class="form-control rounded" id="message" rows="4" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary rounded" aria-label="Send message">{{ i18n "send_message"}}</button>
        </form>
        <hr>
        <h4>Email us</h4>
        <h6><a href="mailto:hello@hopegarden.uk">hello@hopegarden.uk</a></h6>
        <hr>
        <h4>Snail mail 🐌</h4>
        <p>London House<br>
          High Street<br>
          Cilgerran<br>
          Pembrokeshire<br>
          SA43 2SQ
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ end }}

